
/* Textfeld Spielname */ 
input[type="text"] {
    width: 400px;
    height: 20px;
    padding-right: 50px;
}

/* Button  */ 
input[type="button"]{
    margin-left: 0px;
    height: 25px;
    width: 100px;
    color: rgb(0, 0, 0);
    border: 0;
    -webkit-appearance: none;
}

input[type="button"]:enabled{
    background: rgb(7, 243, 243);
}

input[type="button"]:disabled{
    background: #9C9C90;
}


/* Box aktuelles Spiel */
#ActGame{
    background-color: lightgrey;
    width: 300px;
    border: 15px solid rgb(0, 0, 0);
    padding: 50px;
    margin: 20px;
}
@font-face {
    font-family: 'RetroGaming', sans-serif !important;
    src: url(./src/static/assets/fonts/retrogaming.ttf);
}
#ueberschrift{
    font-family: 'RetroGaming', sans-serif !important;
}